<!-- Header  -->
<div class="header" layout="row" layout-align="space-between center">

    <!--Brand Image -->
    <div class="brand">
        <rm-brand-img/>
    </div>

    <!-- Login Widget  -->
    <rm-login></rm-login>
</div>

<!-- Content  -->
<div class="view" layout="row">
    <div class="menu">
        <ul>
            <li><a href="#logos">Logo Images</a></li>
            <li><a href="#users" ng-show="auth.isAdminUser()">Users</a></li>
            <li><a href="#panels" ng-show="auth.isAdminUser()">Panels</a></li>
        </ul>
    </div>
    <div flex class="main" ui-view></div>
</div>


<!-- Footer  -->
<div class="footer" ng-cloak layout="row">
    <div class="rm-logo"></div>


    <div class="controls" layout="row" layout-align="center center">
        <div flex class="time">{{getTime()}}</div>
    </div>
</div>