.cal-alert {
    padding:10px;
    border-bottom: solid 1px #DDD;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.cal-alert:hover {
    background-color: #eee;
}

.cal-alert > * {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}

.cal-alert .room {
    padding-right: 30px;
    font-size: 20px;
}

.cal-alert .start-info {
    text-align: right;
}

.cal-alert .booking-icons {
    position:absolute;
    top: 2px;
    right:1px;
}
