
.add-user-dialog {
    min-width:400px;
}

.add-user-dialog md-content {
    padding: 24px;
}

.add-user-dialog .dialog-title {
    font-size: 30px;
}

.add-user-dialog .error {
    color: red;
    font-size: 12px;
}



