
.login-dialog {
    min-width:400px;
}

.login-dialog .dialog-title {
    font-size: 30px;
}

.login-dialog .error {
    color: red;
    font-size: 12px;
}

.login-dialog md-content {
    padding: 24px;
}



